<!DOCTYPE html>
@{
    ViewBag.Title = "User Profile";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .profile-container {
            max-width: 400px;
            margin: 50px auto;
            background-color: #ffffff;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .profile-info {
            text-align: center;
        }

            .profile-info h2 {
                margin-top: 0;
                font-size: 24px;
                color: #777777;
            }

            .profile-info p {
                margin: 5px 0;
                font-size: 16px;
                color: #777777;
            }

        .wallet {
            margin-top: 20px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="profile-container">
        <div class="profile-info">
            <h2>@Model.FirstName @Model.LastName</h2>
            <p>Email: @Model.Email</p>
            <p>Wallet Balance: $@Model.Wallet</p>
            <a asp-controller="User" asp-action="AddMoney" class="btn btn-success mr-2" aria-label="AddMoney">
                <span aria-hidden="true">➕</span> AddMoney
            </a>
        </div>
    </div>
</body>
</html>
