@model List<BookAllViewModel>
@{
    ViewData["Title"] = "My Library";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any book yet!</h2>
}
else
{
    <div class="row">
        @foreach (BookAllViewModel book in Model)
        {
            <partial name="_BookPartial" model="book"/>
        }
    </div>
}